body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1504253163759-c23fccaebb55?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D'); /* Substitua pelo caminho da sua imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif; 
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.topo {
  text-align: center;
  margin-bottom: 0px;
}

.topo h1 {
  margin-bottom: 0px;
}

.logo {
  width: 250px;
  height: auto;
}

.imagem-container {
  text-align: center;
  margin-bottom: 280px;
}

.imagem {
  max-width: 250px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.legenda {
  text-align: center;
  color: #333;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 200vh;
  }
  
  .imagem-container {
    margin-bottom: 100px;
    height: 40px;
  }
}
